<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favourites</key>
	<dict>
		<key>Favourites Error</key>
		<string>Error trying to get friends favourite products</string>
		<key>Favourites No Fav</key>
		<string>No currenlty saved products.</string>
	</dict>
	<key>Alert</key>
	<dict>
		<key>Network Error Title</key>
		<string>Oops!</string>
		<key>Network Error Message</key>
		<string>Seems there was an error trying to get your data.</string>
		<key>Auth Error Title</key>
		<string>Oops!</string>
		<key>Auth Error Message</key>
		<string>We couldn&apos;t log you in!</string>
		<key>Alert Cancel</key>
		<string>Cancel</string>
		<key>Alert Try Again</key>
		<string>Try Again</string>
		<key>Alert OK</key>
		<string>Ok!</string>
	</dict>
	<key>Error</key>
	<dict>
		<key>Retry Button</key>
		<string>Retry</string>
	</dict>
	<key>Invite</key>
	<dict>
		<key>Invite Invite Text</key>
		<string>It&apos;s better with friends.</string>
		<key>Invite Invite Button</key>
		<string>Invite friends</string>
		<key>Big Invite Text 1</key>
		<string>Connect 
with your friends </string>
		<key>Big Invite Text 2</key>
		<string>and discover 
new ideas for gifts</string>
	</dict>
	<key>Events</key>
	<dict>
		<key>Events Invite Text</key>
		<string>It&apos;s better with friends. Invite them over so Boxxit can help you find the right gifts for them.</string>
		<key>Events Error</key>
		<string>Error trying to get your friends data</string>
		<key>Invite Button</key>
		<string>Invite Friends</string>
		<key>Your Friends</key>
		<string>your friends</string>
	</dict>
	<key>Explore</key>
	<dict>
		<key>Product Reason - Sure - You</key>
		<string>Recommended because you like %@</string>
		<key>Product Reason - Sure - Friend</key>
		<string>Recommended because your friend likes %@</string>
		<key>Product Reason - Maybe - You</key>
		<string>Recommended because you might like %@</string>
		<key>Product Reason - Maybe - Friend</key>
		<string>Recommended because your friend might like %@</string>
		<key>Buy Amazon</key>
		<string>Get on Amazon</string>
		<key>Product Error Message</key>
		<string>Seems like we couldn&apos;t get any products! Please check your internet connection and try again!</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>Login Button Title</key>
		<string>Login with Facebook</string>
	</dict>
	<key>General</key>
	<dict>
		<key>Birthday Today Message</key>
		<string>Birthday Today!</string>
		<key>Birthday No Message</key>
		<string>Not available</string>
	</dict>
	<key>Tutorial</key>
	<dict>
		<key>Tutorial - Welcome Text</key>
		<string>Hey %@!
Welcome to Boxxit!</string>
		<key>Tutorial - Continue Text</key>
		<string>Tap to continue</string>
		<key>Tutorial - Step 1</key>
		<string>We&apos;ll help you find the best gifts for yourself and your friends, based on your likes and interests.</string>
		<key>Tutorial - Step 2</key>
		<string>Invite your friends over and see what we&apos;d think is the best gift for them.</string>
		<key>Tutorial - Step 3</key>
		<string>Lastly, make sure to enable notifications so you&apos;re never caught off guard when a friend&apos;s birthday&apos;s coming nearer.</string>
		<key>Tutorial - Start Text</key>
		<string>Tap to start</string>
	</dict>
</dict>
</plist>
