<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favourites</key>
	<dict>
		<key>Favourites Error</key>
		<string>Error trying to get friends favourite products</string>
		<key>Favourites No Fav</key>
		<string>No currenlty saved products.</string>
	</dict>
	<key>Alert</key>
	<dict>
		<key>Network Error Title</key>
		<string>Oops!</string>
		<key>Network Error Message</key>
		<string>Seems there was an error trying to get your data.</string>
		<key>Auth Error Title</key>
		<string>Oops!</string>
		<key>Auth Error Message</key>
		<string>We couldn&apos;t log you in!</string>
		<key>Alert Cancel</key>
		<string>Cancel</string>
		<key>Alert Try Again</key>
		<string>Try Again</string>
		<key>Alert OK</key>
		<string>Ok!</string>
	</dict>
	<key>Error</key>
	<dict>
		<key>Retry Button</key>
		<string>Retry</string>
	</dict>
	<key>Invite</key>
	<dict>
		<key>Invite Invite Text</key>
		<string>It&apos;s better with friends.</string>
		<key>Invite Invite Button</key>
		<string>Invite friends</string>
	</dict>
	<key>Events</key>
	<dict>
		<key>Events Invite Text</key>
		<string>It&apos;s better with friends. Invite them over so Boxxit can help you find the right gifts for them.</string>
		<key>Events Error</key>
		<string>Error trying to get your friends data</string>
		<key>Invite Button</key>
		<string>Invite Friends</string>
	</dict>
	<key>Explore</key>
	<dict>
		<key>Product Reason - Sure - You</key>
		<string>Recommended because you like %@</string>
		<key>Product Reason - Sure - Friend</key>
		<string>Recommended because your friend likes %@</string>
		<key>Product Reason - Maybe - You</key>
		<string>Recommended because you might like %@</string>
		<key>Product Reason - Maybe - Friend</key>
		<string>Recommended because your friend might like %@</string>
		<key>Buy Amazon</key>
		<string>Get on Amazon</string>
		<key>Product Error Message</key>
		<string>Seems like we couldn&apos;t get any products! Please check your internet connection and try again!</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>Login Button Title</key>
		<string>Login with Facebook</string>
	</dict>
	<key>General</key>
	<dict>
		<key>Birthday Today Message</key>
		<string>Birthday Today!</string>
		<key>Birthday No Message</key>
		<string>Not available</string>
	</dict>
	<key>Tutorial</key>
	<dict>
		<key>Enable Notifications</key>
		<string>Enable Notifications</string>
		<key>Continue Text</key>
		<string>Tap to continue</string>
		<key>Start Text</key>
		<string>Tap to start</string>
		<key>Skip Text</key>
		<string>Tap to skip</string>
		<key>Friend Tap Text</key>
		<string>Tap on any friend</string>
		<key>No Friends Action</key>
		<string>Gift ideas for you</string>
		<key>Tutorial Welcome Text </key>
		<string>Hey %@!
Welcome to Boxxit, the app that helps you find interesting gift ideas for your friends.</string>
		<key>Tutorial Profile Text</key>
		<string>This is your profile!
Based on your likes and interests Boxxit has already prepared a list of gift ideas for you.</string>
		<key>Tutorial Friends Text</key>
		<string>And these are your friends!
You can tap on any of them to see what gift ideas Boxxit suggests.</string>
		<key>Tutorial No Friends Text</key>
		<string>Oh! None of your friends are on Boxxit. 
Invite them to the app or explore gift ideas for you.  </string>
		<key>Tutorial Explore Text</key>
		<string>This is the heart of Boxxit.
You can scroll down to see more gifts ideas. 

We hope you like them and find one that&apos;s just right!  </string>
		<key>Tutorial Notifications Text</key>
		<string>One last thing!

Tap the Enable Notifications button to always be alerted when a friend&apos;s birthday is getting nearer and never be caught off guard.

Or tap anywhere else to start using Boxxit!</string>
	</dict>
</dict>
</plist>
