<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>851430220786-m7i311lbvriis90tsbrmorqpj8jn3178.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851430220786-m7i311lbvriis90tsbrmorqpj8jn3178</string>
	<key>API_KEY</key>
	<string>AIzaSyCAZokbGW_NBmT3j5mFnfoOzcCK7T3Hf8c</string>
	<key>GCM_SENDER_ID</key>
	<string>851430220786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giftapp2.GiftApp</string>
	<key>PROJECT_ID</key>
	<string>giftapp-9c105</string>
	<key>STORAGE_BUCKET</key>
	<string>giftapp-9c105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:851430220786:ios:78916284e1028d82</string>
	<key>DATABASE_URL</key>
	<string>https://giftapp-9c105.firebaseio.com</string>
</dict>
</plist>